{{#> default page-title=title body-class="post-template"}}

<section class="hero background-img is-large" style="background-image: url('{{rootpath}}{{feature_image}}')">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-white is-size-1 has-text-weight-bold">
        {{title}}
      </h1>
      <a href="{{author.url}}" class="has-text-light is-size-4">{{author.name}}</a>
    </div>
  </div>
</section>

<section class="post">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="post-content">
          {{#if tags}}
            <div class="post-tags">
              {{#each tags}}
                {{#with this}}
                <a class="button tag-{{slug}} is-rounded" href="{{rootpath}}topics/{{slug}}/" title="{{name}}" aria-label="{{name}}s">#{{name}}</a>
                {{/with}}
              {{/each}}
            </div>
          {{/if}}
          <div class="post-content__inner">
            {{{contents}}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- Related posts 
{{> related-posts}}--}}

{{/default}}
