<!-- Loop through the navigation items -->
{{#each navigation}}
  {{#with this}}
  <a class="navbar-item nav-{{slug}}" href="{{rootpath}}{{#if navpath}}{{navpath}}{{else}}{{path}}{{/if}}">{{label}}</a>
  {{/with}}
{{/each}}
